*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

body {
    max-width: 69.375em; /* 1110/16 */
    margin: 0em auto;
    background: #FFFDFA;
    font-family: 'Inter', sans-serif;
}

/*----HEADER----*/

nav {
    margin: 0em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6.0625em 0em 3.44375em 0em;
}

a {
    text-decoration: none;
    color: #5E607A;
    font-weight: 400; 
    font-size: 0.9375em; 
    line-height: 1.625em;
    margin-left: 2.1875em;
}

a:hover,
a:active {
    color: #E9AA52;
}

/*----MAIN----*/

main {
    display: flex;
    
}

.main_images {
    width: 45.625em;
}

.main_section {
    display: flex;
}

.main_section h1 {
    color: #00001A;
    font-weight: 800;
    font-size: 3.5em;
    line-height: 1em;
    margin: 0.5357142857142857em 0em;
}

.main_section p {
    width: 23.33333333333333em; /*350/15*/
    height: 6.933333333333333em; /*104/15*/
    margin: 2em 2em 0.7333333333333333em 2em;
    color: #5E607A;
    font-weight: 400;
    font-size: 0.9375em; /*15/16*/
    line-height: 1.733333333333333em; /*26/15*/
}


/*----BUTTON----*/

button {
    background: #F15D51;
    width: 13.21428571428571em; /* tusa delilo 14stkou ktora bola na font-size*/
    height: 3.428571428571429em;
    color: #FFFDFA;
    font-weight: 700;
    font-size: 0.875em;
    line-height: 1.5em;
    letter-spacing: 0.27375em;
    border: none;
    cursor: pointer;
    margin-left: 2.142857142857143em;
    text-transform: uppercase;
}

button:hover,
button:active {
    background: #00001A;
}

/*----ASIDE----*/

.aside {
    display: flex;
    flex-direction: column;
    max-width: 21.875em; /*350/16*/
    height: 31.9375em; /*511/16*/
    background: #00001A;
}

.aside h1,
.aside a,
.aside p {
    margin: 0;
}

.aside h1 {
    color: #E9AA52;
    font-weight: 700;
    font-size: 2.5em; /*40/16*/
    line-height: 1em; /*40/40*/
    margin: 0.8em 0.6em 0em 0.6em; /*tu sa delilo 40*/
}

.aside a {
    color: #FFFDFA;
    font-weight: 800;
    font-size: 1.25em;
    line-height: 1.2em;
}

.aside a:hover,
.aside a:active {
    color: #E9AA52;
}

.aside p {
    color: #C5C6CE;
    font-weight: 400;
    font-size: 0.9375em;
    line-height: 1.733333333333333em;
    margin-top: 0.5333333333333333em;
}

hr {
    color: #5E607A;
    width: 18.875em;
    margin: 0em 1.5em;
}

.aside_one {
    margin: 2.125em 1.5em 1.8125em 1.5em; /* 34/16 24/16 29/16 24/16 */
}

.aside_two {
    margin: 1.9375em 1.5em 1.8125em 1.5em; /* 31 24 29 24 / 16 */
}

.aside_three {
    margin: 1.9375em 1.5em 1.9375em 1.5em; /* 31 24 31 24 / 16 */
}


/*----FOOTER----*/

footer {
    display: flex;
    margin: 3.25em 0em;
}

footer img {
    width: 6.25em; /* 100/16 */
    height: 7.9375em;
}

.footer_one,
.footer_two,
.footer_three {
    display: flex;
}

footer div {
    width: 14.125em;
    margin-right: 1.875em;
    margin-left: 1.5em;
}

footer h3,
footer a,
footer p {
    margin: 0em;
}

footer h3 {
    color: #C5C6CE;
    font-weight: 700;
    font-size: 2em; /*32/16*/
    line-height: 1em;
    margin-bottom: 0.375em;
}

footer a {
    color:#00001A;
    font-weight: 800;
    font-size: 1.125em;
    line-height: 1.333333333333333em;
}

.footer_link:hover,
.footer_link:active {
    color: #F15D51;
}

footer p {
    color: #5E607A;
    font-weight: 400;
    font-size: 0.9375em; /* 15/16 */
    line-height: 1.733333333333333em; /* 26/15 */
    margin-top: 0.6em; /* 9/15 */
}




/*----MEDIA QUERIES----*/




@media screen and (max-width: 1120px) {
    body {
        margin-right: 1em;
        margin-left: 1em;
    }

    /*----HEADER----*/

    header {
        display: flex;
        justify-content: center;
    }

    /*----MAIN----*/

    
    main {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .main_section {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 3.25em;
    }

    .main_section h1 {
        max-width: 35%;
    }

    .main_section p {
        margin: 2em 0em 0.7333333333333333em 2em;
        max-width: 100%;
    }
  
    .first_section img {
        width: 100%;
    }

    /*----FOOTER----*/

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .footer_one,
    .footer_two {
        margin-bottom: 1em;
    }

}


@media screen and (max-width: 890px) {

    .main_section {
        width: 100%;
        display: flex;
        flex-direction: column;  
    }

    .main_section h1,
    .main_section p {
        min-width: 60%;
        margin: 0.5em auto;
        text-align: center;
    }


    button {
        display: block;
        margin: auto;
        margin-top: 1.5em
    }

    footer div {
        margin-right: 0;
        
    }

    
}

@media screen and (min-width: 320px) and (max-width: 890px) {

    .main_section h1,
    .main_section p {
        margin: 0.5em auto;
        max-width: 70%;
    }

    button {
        margin-top: 3em;
    }

    footer {
        margin-bottom: 1em;
    }

    

}
